@import "./general.css";
.header {
  background-color: #fff;
  box-shadow: 0px 2px 10px rgba(0, 0, 0, 0.3);
  padding: 10px 0px;
  position: sticky;
  top: 0px;
  z-index: 1;
}
.logo {
  display: flex;
  align-items: center;
  column-gap: 3px;
  flex-wrap: wrap;
}
.logo a {
  color: var(--primary-bg-color);
  font-family: var(--primary-font);
  font-size: 12px;
  font-weight: 600;
}
.logo img {
  width: 35px;
}
.links {
  display: flex;
  gap: 12px;
  flex-wrap: wrap;
  font-family: var(--primary-font);
}
.links li a {
  color: #101928;
  font-weight: 500;
  font-size: 14px;
}
.links .active a {
  font-weight: 700;
}
.icon {
  justify-content: center;
  align-items: center;
  width: 30px;
  height: 30px;
  display: none;
  cursor: pointer;
}

.auth {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 6px;
}
.btn {
  outline: none;
  padding: 5px 25px;
  border-radius: 5px;
  font-family: var(--secondary-font);
  font-size: 15px;
  cursor: pointer;
}
.btn-login {
  background-color: transparent;
  color: var(--primary-bg-color);
  border: 1px solid var(--primary-bg-color);
}
.btn-register {
  background-color: var(--primary-bg-color);
  color: #fff;
  border: 1px solid var(--primary-bg-color);
}
/*header media*/
@media screen and (max-width: 900px) {
  .header .container {
    width: calc(100% - 60px);
  }
}
@media screen and (max-width: 800px) {
  .header .container {
    width: 100%;
  }
  .logo {
    margin-left: 3px;
  }
  .logo img {
    width: 25px;
  }
  .btn {
    padding: 5px 15px;
  }
  .btn-register {
    margin-right: 3px;
  }
}
@media screen and (max-width: 700px) {
  .auth {
    display: none;
  }
}
@media screen and (max-width: 570px) {
  .nav {
    display: none;
  }
  .icon {
    display: flex;
  }
  .icon i {
    font-size: 20px;
  }
  .logo a {
    font-size: 10px;
  }
  .logo img {
    width: 20px;
  }
}
/*home section start*/
.home{
  padding: 40px 0;
  position: relative;
}
.home .container .row{
 align-items: flex-start;
}
.home-content{
  width: calc(60% - 8px);
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.home-content span:nth-child(1) {
  color: var(--primary-bg-color);
  font-family: var(--secondary-font);
  font-size: 11px;
}
.home-content p{
  width: 80%;
  color: #141E32;
  font-size: 24px;
  font-weight: 900;
  font-family: var(--primary-font);
}
.home-content p:last-of-type{
  width: 40%;
  color: #969696;
  font-size: 13px;
  font-family: var(--primary-font);
  font-weight: 400;
}
.home-content p span{
 font-size: 24px !important;
 font-weight: 600;
 
}
.button {
  display: flex;
  gap: 20px;
}
.button img{
  padding: 5px;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}
.button span{
 display: flex;
 align-items: center;
 gap: 2px;
}
.icon-content{
  color: #141E32;
  font-family: var(--secondary-font);
  font-size: 10px;
}
.home-img{
  width: 40%;
}
.home-img img{
 width: 70%;
 display: block;
 margin-left: auto;
}
/*home style end*/
/*home media start*/
@media screen and (max-width:900px){
  .home-img{
    width: 20%;
    align-self: flex-end;
  }
  .home-img img{
    width: 100%;
  }
  .home-content{
    width: calc(80% - 8px);
  }
}
@media screen and (max-width:700px){
  .home-content{
    width: calc(100% );
  }
  .home-img {
    position: absolute;
    top: 0;
    right: 0px;
  }
  .home-content p:last-of-type{
     width: 80%;
  }
}
/*section service starts*/
.service{
  margin-top: 50px;
  background-color: #F5F5F5;
  padding: 40px 0px 0px;
}

.service-header{
  width: calc(25% - 4px);
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 4px;
}
.service-header span{
  color: var(--primary-bg-color);
  font-size: 10px;
  font-family: var(--secondary-font);
}
.service-header h2{
 font-family: var(--primary-font);
 color: #141E32;
 font-size: 18px;
}
.service-header p{
  color: #969696;
  font-family: var(--primary-font);
  font-size: 13px;
 }
.service-items{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: calc(75% - 8px);
  
}
.service-item{
  box-sizing: border-box;
  width: calc(25% - 8px);
  background-color: var(--primary-bg-color);
  padding: 25px 6px  ;
  display: flex;
  flex-direction: column;
  gap: 10px;
  align-items: flex-start;
  border-radius: 4px;
  
}
.service-item img{
  background-color: #fff;
  border: 1px solid rgb(158, 154, 154);
  padding: 2px;
  width: 30px;
  border-radius: 50%;
}
.service-item h3{
  font-family: var(--secondary-font);
  color: #fff;
  font-size: 14px;
}
.service-item  p{
  font-family: var(--primary-font);
  color: #DDD;
  font-size: 11px;
}
/*service section end*/
/*service media start*/
@media screen and (max-width:970px) {
  .service .row{
    flex-direction: column;
    align-items: flex-start;
    row-gap: 25px;
  }
  .service-items{
    width: 100%;
    justify-content: space-between;
  }
  .service-header{
    width: 60%;
  }
}
@media screen and (max-width:770px){
  .service-items{
    gap: 20px;
    justify-content: center;
  }
  .service-item{
    width: 50%;
  }
  .service-header{
    width: 100%;
  }
  .service-header h2{

    text-align: center;
  }
}
@media screen and (max-width:470px){
  .service-item{
    width: 70%;
  }
}
/* service media end */
/*general info start*/
.general-info{
  margin-top: 50px;
  background: linear-gradient(180deg, #545be8 0%, #272db0 100%);
  font-family: var(--primary-font);
  position: relative;
  overflow: hidden;
  padding: 40px 0px;
}
.general-info .row{
  align-items: flex-start;
}
.img{
  width: 40%;
}
.img img{
  width: 50%;
  display: block;
  margin: auto;
}
.general-info-content{
  box-sizing:border-box;
  padding: 40px;
  width: calc(60% - 8px);
  display: flex;
  flex-direction: column;
  gap: 12px;
  
}
.general-info-content span{
  color: #F0C932;
  font-family: var(--secondary-font);
  font-size: 10px;
}
.general-info-content h2{
  color: #fff;
}
.general-info-content p{
  color: #DDD;
  font-size: 14px;
}
.general-info-offer .number{
  margin-bottom: 6px;
}
.general-info-offer .number span{
  font-weight: 700;
  font-size: 12px;
}
.general-info-offer .number-info span{
  color: #DDD;
  font-size: 12px;

}
/*general-info-offer end*/
/*general-info-offer media start*/
@media screen and (max-width: 970px) {
  .general-info .row{
    align-items: center;
  }
}
@media screen and (max-width: 770px) {
  .img {
    position: absolute;
    top: -2px;
    right: -50px;
    
    border-radius: 50%;

  }

  .general-info-content{
    width: 100%;
  }
}
@media screen and (max-width: 470px) {
  
  .general-info-content p{
      font-size: 12px;
  }
  .general-info .container{
    width: calc(100% - 30px);
  }
}
@media screen and (max-width: 380px) {
  .img{
    right: -4px;
  }
 .img img{
  width: 70%;

 }
}
/* course start */
.course{
  margin-top: 50px;
}
.course .container .row{
  gap: 20px;
  align-items: flex-start;
}
.course-item{
  width: calc(70% - 20px);
  display: flex;
  gap: 20px;
  flex-wrap: wrap;
}
.course-item h2{
  display: none;
  font-family: var(--primary-font);
  text-align: center;
  width: 100%;
  position: relative;
}
.course-item h2::after{
  content: '';
  position: absolute;
  bottom: 0px;
  left: 50%;
  transform: translate(-50%);
  width: 20%;
  height: 3px;
  margin: auto;
  background-color: var(--primary-bg-color);
  
  

}
.course-details{
  width: 30%;
  display: flex;
  flex-direction: column;
  gap: 12px;
  font-family: var(--primary-font);
  align-items: flex-start;
  padding: 0 5px;
}
.course-card {
  width: calc(50% - 20px);
  box-shadow: 0px 7.437575340270996px 7.437575340270996px rgba(0, 0, 0, 0.05);
  border-radius: 5px;
}
.course-card-header {
  position: relative;
}
.course-card-header img{
  width: 100%;
  filter: brightness(85%);
  display: block;
}
.card-header-info {
  position: absolute;
  width: 100%;
  height: 100%;
  top:0px;
  left: 2px;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  padding: 15px 0px;
  color: #fff;
  font-family: var(--primary-font);
  font-size: 12px;
}
.card-header-info span:first-of-type{
  padding: 8px;
  background-color: var(--primary-bg-color);
}
.card-header-info span:last-of-type{
  padding: 8px;
 font-weight: 700;
 align-self: flex-end;
}
.course-card-body{
  padding: 10px;
  font-family: var(--primary-font);
}
.view{
  color: var(--primary-bg-color);
  font-size: 10px;
}
 .course .course-card-body .row{
 
  align-items: center;
  
}
.course-card-body .row:last-of-type{
  justify-content: flex-start;
  gap:9px;
  color:#969696;
  font-size: 10px ;
}
.course-card-body .row h3{
  font-size: 14px;
  color: #141E32;
}
.course-details span{
  color: var(--primary-bg-color);
}
.course-details h2{
  color: #141E32;
  font-weight: 600;
}
.course-details p{
  color: #969696;
  
}
.course-details a{
  color: #fff;
  padding: 7px 14px;
  background-color: var(--primary-bg-color);
  border-radius: 5px;
 
  font-weight: 500;
  font-size: 12px;
  letter-spacing: 1px;
}
/*course section end*/

/*course media start*/
@media screen and (max-width: 870px) {
  .course-card{
    width: 70%;
    margin: auto;
  }
}
@media screen and (max-width: 670px) {
  .course-card{
    width: 85%;
    margin: auto;
  }
  .course-details p{
    
    overflow: auto;
    font-size: 14px;
  }
}
@media screen and (max-width: 570px) {
  .card-header-info{
    padding: 3px 0px;
  }
  .course-details p{
     display: none;
  }
}
@media screen and (max-width: 500px) {
  .course-details{
    display: none;
  }
  .course-item{
    width: 100%;
  }
  .course-card-body .row h3{
    font-size: 12px;
  }
.course-item h2{
    display: block;
  }
}
/*Testimonials start*/
.Testimonials {
  margin-top: 50px;
}
.Testimonials h2 {
  text-align: center;
  margin-bottom: 20px;
  color: #0D1222;
  position: relative;
 
}
.Testimonials h2::after{
  content: '';
  position: absolute;
  bottom: -3px;
  left: 50%;
  transform: translateX(-50%);
  width: 10%;
  height: 3px;
  background-color: var(--primary-bg-color);
}
.Testimonials .container .row{
  gap: 20px;
}
.testimonials-card {
  margin-top: 25px;
  width: calc(50% - 20px);
  padding: 25px 10px;
  box-sizing: border-box;
  box-shadow: 0px 8.23719596862793px 8.23719596862793px rgba(0, 0, 0, 0.1);
}
.testimonials-card .row {
  gap: 12px;
  align-items: flex-start;
 
}
.testimonials-card-header{
    width: 100%;
}
.testimonials-card-header .row {
   justify-content: flex-start;
   align-items: center;
 
}
.testimonials-card-header .row img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}
.user-info {
  font-family: var(--primary-font);
 
  
}
.user-info h3 {
  font-size: 16px;
}
.user-info span {
  color: #969696;
  font-size: 11px;
}
.rating img {
  width: 15px;
}
.user-comment {
  color: #646464;
  font-family: var(--primary-font);
  font-size: 14px;
}
/*testimonials end*/
/*testimonials media start*/
@media screen and (max-width: 900px) {
   
    .testimonials-card{
        width: 65%;
    }
    .testimonials-card:last-of-type{
     margin-top: 0px;
    }
    .Testimonials .container .row{
        justify-content: center;
        gap: 25px;
      
    }
    .rating,
    .user-comment{
        text-align: center;
    }
}
@media screen and (max-width: 670px) {
     .testimonials-card{
         width: 85%;
     }
     
 }
 @media screen and (max-width: 500px) {
  .testimonials-card{
      width: 100%;
  }
  .user-comment {
     font-size: 12px;
     
  }
  
}
/*testomonial media end*/

/*footer start*/
.footer {
    background-color: #393e46;
    padding: 40px 0px;
    color: #fff;
    font-family: var(--primary-font);
    margin-top: 50px;
  }
  .footer .container .row {
    gap: 20px;
    background-color: #141E32;
  }
  .footer-start {
    width: 40%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 6px;
  }
  .footer-start-content {
    font-size: 12px;
    width: 80%;
    text-align: justify;
    padding-right: 3px;
  }
  .footer-start-icon img {
    width: 20px;
    height: 20px;
    border: 1px solid #fff;
    padding: 2px;
   
  }
  .footer-end {
    width: 55%;
  }
  .footer-start .logo a {
    color: #fff;
  }
  .footer-end-items {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    gap: 20px;
  }
  .footer-end-item h2 {
    font-size: 16px;
    margin-bottom: 4px;
  }
  .footer-end-item nav a {
    color: #f4f4f4;
    font-size: 12px;
  }
  .footer-end-item nav {
    display: flex;
    flex-direction: column;
    gap: 10px;
    flex-wrap: wrap;
  }
  /*footer end*/
  /*footer meaia*/
  
  @media screen and (max-width: 900px) {
    .footer .container .row {
      flex-direction: column;
    }
    .footer-start {
      width: 100%;
      flex-direction: row;
      align-items: center;
      justify-content: space-between;
    }
    .footer-start-content {
      width: 60%;
    }
  }
  @media screen and (max-width: 800px) {
    .footer-end-item {
      width: 45%;
    }
  }
  @media (max-width: 750px) {
    .footer-start-icon {
      width: 50%;
      margin-left: auto;
      text-align: right;
    }
    .footer-start .logo img {
      width: 45px;
    }
  }
  @media (max-width: 570px) {
    .footer-end {
      width: 100%;
    }
    .footer-end-item {
      width: 90%;
      border-bottom: 1px solid;
    }
    .footer-end-item nav {
      flex-direction: row;
    }
  }
  @media screen and (max-width: 450px) {
    .footer-start-content {
      text-align: initial;
    }
  }
  @media screen and (max-width: 800px) {
    .footer .container {
      width: calc(100% - 120px);
    }
  }
  @media screen and (max-width: 550px) {
    .footer .container {
      width: calc(100% - 40px);
    }
  }
  /*footer media end*/
